<!DOCTYPE html> 
<html lang="en"> 
	<head> 
	    <meta charset="UTF-8"> 
	    <title>Login</title>
	     {% load static %}  
	        <link rel="stylesheet" href="{% static 'process_user_app/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
	</head> 
	<body> 
	     <div id="wrapper"> 
	         <h1>Login</h1> 
	         <div id="content_layer"> 
				<form action="/verify_login/" method="post">
					{% csrf_token %} 
					<div id="labels">
						<label for="email"><span>Email:</span>
							<input type="email" name="email" id="email" placeholder="Enter Email" value="{{ request.session.email }}"></label>
						<label for="password"><span>Password:</span>
							<input type="password" name="password" id="password" placeholder="Enter Password"></label>
					</div>
					<div id="errorLayer">
						{% if messages %}
							{% for message in messages %}
							<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>
								{{ message }}
							</p>
							{% endfor %}
						{% endif %}
					</div>
					<span id="nav">
						<input type='submit' value='Login'>
					</span>
					<a href="/register/">Register</a>
				</form>
	        </div>
	     </div> 
	</body> 
</html> 
